npm install -g create-react-app
npm install --save react-router-dom
npm install --save @material-ui/core
npm install --save @material-ui/icons
npm install --save axios
npm install --save dayjs
npm install --save jwt-decode
npm install --save redux
npm install --save react-redux
npm install --save redux-thunk